<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wormsubjectplanner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeWindow"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubjectsWindow"
            android:label="@string/title_activity_notes"
            android:parentActivityName=".HomeWindow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeWindow" />
        </activity>
        <activity
            android:name=".NotesWindow"
            android:label="@string/title_activity_subject_notes"
            android:parentActivityName=".SubjectsWindow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubjectsWindow" />
        </activity>
        <activity
            android:name=".AddNotesWindow"
            android:label="@string/title_activity_add_notes"
            android:parentActivityName=".SubjectsWindow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NotesWindow" />
        </activity>
        <activity
            android:name=".SampleViewNoteWindow"
            android:label="@string/title_activity_view_notes"
            android:parentActivityName=".NotesWindow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NotesWindow" />
        </activity>
        <activity
            android:name=".AddSubjectWindow"
            android:label="@string/title_activity_add_subject" >
        </activity>
    </application>

</manifest>
